/* анимации */

@keyframes goUp {
    0% { 
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.goUpAnim {
    animation-name: goUp;
    animation-duration: 0.5s;
}

@keyframes goUpCard {
    0% { 
        opacity: 0;
        /* filter: blur(5px); */
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        /* filter: blur(0px); */
        transform: translateY(0px);
    }
}

.goUpCardAnim {
    animation-name: goUpCard;
    animation-duration: 1s;
}

@keyframes goLeftCard {
    0% { 
        opacity: 0;
        /* filter: blur(5px); */
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        /* filter: blur(0px); */
        transform: translateX(0px);
    }
}

.goLeftCardAnim {
    animation-name: goLeftCard;
    animation-duration: 1s;
}

@keyframes goRightCard {
    0% { 
        opacity: 0;
        /* filter: blur(5px); */
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        /* filter: blur(0px); */
        transform: translateX(0px);
    }
}

.goRightCardAnim {
    animation-name: goRightCard;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;;
    }
}

.fadeInAnim {
    animation-name: fadeIn;
    animation-duration: 0.7s;
}



@keyframes backgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animatedBackground{
    background: linear-gradient(to right top, #00bfff, #f50000);
    background-size: 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: backgroundGradient 10s ease-in-out infinite;
}

.animatedBackgroundAdmin{
    background: linear-gradient(to right top, #273448, #3e3045, #4d2e38, #503129, #46381f);
    background-size: 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: backgroundGradient 30s ease-in-out infinite;
}


@keyframes blink{
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1
    }

    100%{
        opacity: 0;
    }
}

@keyframes blinkshort{
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }

}

.blinkAnim {
    animation: blink 5s ease-in-out;
}

/* анимации vue transition для HeaderCard */
.name-enter-active {
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
.name-enter {
  transform: translateY(17px);
  opacity: 0;
}

.occupation-enter-active {
    transition: all 0.5s ease;
    transition-delay: 1s;
}

.occupation-enter {
    opacity: 0;
}

.aboutMe-enter-active {
    transition: all 0.5s ease;
    transition-delay: 1.5s;
}

.aboutMe-enter {
    opacity: 0;
}

.bottomText-enter-active {
    transition: all 0.5s ease;
    transition-delay: 2s;
}
.bottomText-enter {
  transform: translateY(-17px);
  opacity: 0;
}

/* анимации vue transition для AllProjects */
.projectsList-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
  }

.projectsList-enter{
    opacity: 0;
    transform: translateX(-10px);
}

.projectsList-enter-to{
    opacity: 1;
    transform: translateX(5px);
}

.projectsList-leave{
    opacity: 1;
    transform: translateX(10px);
}

.projectsList-leave-to{
    opacity: 0;
    transform: translateX(-5px);
}

.projectsList-leave-active {
    position: sticky;
}

.projectsList-enter-active {
    position: relative;
}

.dragGhost {
  opacity: 1;
  transition: all 0.5s;
  animation: blinkshort 2s infinite;
}

.otherProject.zeroOpacity{
    transform: translateY(35px);
    /* filter: blur(5px); */
}

.otherProject{
    transform: translateY(0px);
    /* filter: blur(0px); */
}

/* //////////////////// */
