@keyframes goUp {
    0% { 
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.goUpAnim {

    animation-name: goUp;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;;
    }
}

.fadeInAnim {
    animation-name: fadeIn;
    animation-duration: 0.7s;
}

@keyframes backgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animatedBackground{
    background: linear-gradient(to right top, #133a74, #66326e, #902e53, #9d4230, #8e620f);
    background-size: 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: backgroundGradient 30s ease-in-out infinite;
}

