/* кастомные стили */
/* tags */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(60, 60, 94);
    z-index: -9999;
    color: white;
}

h1 {
    font-size: 2.90rem;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

h6 {
    color: white;
}

a, a:hover {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: rgb(182, 225, 250);
}

hr {
    background-color: white;
}
/* //////////////////////// */


/* styles */
.zeroOpacity {
    opacity: 0;
}

.halfOpacity {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.2;
}

.invisible{
    display: none;
}

.unclickable {
    pointer-events: none;
}

.textVertical {
    margin-top: auto;
    margin-bottom: auto;
}

.borderUnderline {
    border-bottom-style: solid;
    border-color: rgb(184, 179, 179);
    border-width: 1px;
}

.borderLeft{
    border-left-style: solid;
    border-color: rgb(184, 179, 179);
    border-width: 1px;
}

.projectImageVertical {
    width: 65%;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
}

.projectImageHorizontal {
    width: 90%;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
}

.projectImageMobile {
    width: 90%;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.55);
    margin-bottom: 15px;
}

.projectLogo {
    width:20%;
}

.navButton {
    position: fixed;
    right: 5%;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    font-size: 1.5rem; color: white;
}

.navButtonClose {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    font-size: 1.5rem;
    padding: 15px;
}

.navMenu {
    position: fixed;
    right: 0%;
    top: 0%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    -webkit-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.85);
    box-shadow: 4px 4px 28px 1px rgba(0, 0, 0, 0.85);
    transition: right 0.3s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 2;
    opacity: 0;
}

.navMenu a, .navMenu h6 {
    color: black;
}

.navMenu a:hover{
    color:rgb(72, 72, 116);
}

.navMenu hr {
    background-color: black;
}

.navScroll {
    position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    font-size: 35pt;
}

.previewCard {
    padding: 20px;
    border-radius: 10px;
}

.fullscreenButton {
    position: absolute; 
    right: 3%; 
    top: 3%; 
}

.fullscreenButtons {
    position: absolute; 
    right: 7%; 
    top: 3%; 
}

.deleteImageButton {
    position: absolute; 
    right: 8%; 
    top: 3%; 
}

.fullscreenCard {
    position: fixed; 
    top:0; 
    left: 5000px;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.toastCard {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.projectMiniPreview {
    border-radius: 15px;
    padding: 5px;
}

.transparentCard {
    border-radius: 15px;
    background-color: rgba(255,255,255, 0.1);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.transparentCard.active {
    background-color: rgba(255,255,255, 0.3);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
    transform: translateX(-10px);
}

.transparentCard.highlighted{
    background-color: rgba(255, 255, 255, 0.205);
}



.transparentCard.deleteModalCard{
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 25%;
    color: black;
}

.deleteModalBody{
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100% !important;
    height: 100%;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.deleteModalCard{
    position: absolute;
    top: 25%;
}

.linkItem {
    transition: opacity 0.5s ease-in-out;
}




/* /////////////////////// */
/* margins, paddings, width, height */
.width90pc {
    width: 90%;
}
/* ///////////////////////////// */
/* z-index */
.zIndex-1 {
    z-index: -1;
}
.zIndex3 {
    z-index: 3;
}


