/* шрифты и классы размеров шрифтов */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
   }


h1, h4, h6, input {
    font-family: Montserrat;
}

/* pt */
.font14pt {
    font-size: 14pt;
}

.font18pt {
    font-size: 18pt;
}

.font21pt {
    font-size: 21pt;
}

/* rem */

.font1-2rem {
    font-size: 1.2rem;
}

.font1-8rem {
    font-size: 1.8rem;
}

.font2rem{
    font-size: 2rem;
}

.font2-5rem {
    font-size: 2.5rem;
}

.font3rem {
    font-size: 3rem;
}

.font3-8rem {
    font-size: 3.8rem;
}


@media screen and (min-width:800px) { 
    .font2rem{
        font-size: 1rem;
    }
    
    .font3-8rem {
        font-size: 2rem;
    }
}


@media screen and (min-width:1366px) { 
    .font2rem{
        font-size: 1.5rem;
    }
    
    .font3-8rem {
        font-size: 2.8rem;
    }
}


@media screen and (min-width:1600px) { 
    .font2rem{
        font-size: 2rem;
    }
    
    
    .font3-8rem {
        font-size: 3.8rem;
    }
}

.font5rem {
    font-size: 5rem;
}



