/* шрифты и классы размеров шрифтов */

@font-face {
    font-family: "Montserrat";
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Montserrat"), url("../fonts/Montserrat-Regular.ttf") format('ttf');
   }

   

h1, h4, h6, input {
    font-family: Montserrat;
}

.Montserrat{
    font-family: Montserrat;
}

/* pt */
.font14pt {
    font-size: 14pt;
}

.font18pt {
    font-size: 18pt;
}

.font21pt {
    font-size: 21pt;
}

/* rem */

.font1-2rem {
    font-size: 1.2rem;
}

.font1-8rem {
    font-size: 1.8rem;
}

.font2rem{
    font-size: 2rem;
}

.font2-5rem {
    font-size: 2.5rem;
}

.font3rem {
    font-size: 3rem;
}

.font3-8rem {
    font-size: 3.8rem;
}

.font5rem {
    font-size: 5rem;
}

.wordBreak{
    word-break: break-word;
}

/* vw */

.font0-9vw{
    font-size: 0.9vw;
}

.font1vw{
    font-size:1vw;
}

.font1vw{
    font-size: 1vw;
}

.font1-5vw{
    font-size:1.5vw;
}

.font2vw{
    font-size:2vw;
}

.font2vh{
    font-size:2vh;
}


.font2-2vw{
    font-size:2.2vw;
}

.font2-5vw{
    font-size:2.5vw;
}

.font3vw{
    font-size:3vw;
}

.font3-5vw{
    font-size:3.5vw;
}

.font4vw{
    font-size: 4vw;
}

.font5vw{
    font-size: 5vw;
}

.font6vw{
    font-size: 6vw;
}

.font8vw{
    font-size: 8vw;
}

.font11vw{
    font-size: 11vw;
}



